*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 25%;
    height: 100vh;
    display: inline-block;
    text-align: center;   
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    padding-top: 33%;
    font-size: 1.5em;
}

